/* reset.css / normalize.css */
body {
  margin: auto;
  font-size:16px;
}
.header-top-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
 
}
.header-top-nav__logo {
  width: 10vw;
  height: 10%;
}
.header-top-nav__links {
  margin-top: 2%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.header-top-nav__links__link{
 color: black;
 text-decoration: none;
}
.header-top-nav__links__link:hover {
  border-top: 0.1vw solid #0065fc;
  color: #0065fc;
}
.header-top-nav__links__link--highlight{
 color: #0065fc;
 text-decoration: none;
}
.header-title {
  font-size: 2rem;
}
.header-subtitle {
  font-size: 1rem;
  font-weight: 100;
}
.header-search {
  font-size: 1rem;
  display: flex;
  margin-left: 1%;
}
.header_search__button__icon {
  display: none;
}
.header-search__icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 1%;
  width: 2%;
  height: 3vw;
  background-color: #f2f2f2;
  border-radius: 0.5vw 0vw 0vw 0.5vw;
}
.header_search__input {
  font-size: 1.5rem;
  width: 12%;
  height: 3vw;
  border: 0.1vw solid #f2f2f2;
  border-right: none;
}
.header_search__button {
  font-size: 1rem;
  background-color: #0065fc;
  color: white;
  border-radius: 0vw 0.5vw 0.5vw 0vw;
  border: none;
  width: 8%;
  height: 3vw;
  cursor: pointer;
}
.header-filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}
.header-filters__title {
  font-size: 2rem;
  padding-right: 2%;
  margin-top: 3%;
}
.header-filters__filter {
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 15%;
  height: 3vw;
  border: 0.2vw solid #f2f2f2;
  border-top-right-radius: 4vw;
  border-bottom-right-radius: 4vw;
  border-left: none;
}
.header-filters__filter__icon {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 50%;
  width: 3vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.header-filters__filter__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width:60%;
  height: 2vw;
  margin-top: 5%;
  border-left: none;
  padding-top: 1%;
}
.header-info {
  display: flex;
  font-size: 1.2rem;
}
.header-info__icon{
  color: #0065fc;
  background-color: white;
  border: 0.2vw solid #f2f2f2;
  border-radius: 50%;
  width: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}
.main-container__hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f2f2f2;
  border-radius: 3vw;
  width: 65%;
  height: 50vw;
}
.main-container__title {
  margin-right: 60%;
  font-size: 2rem;
}
.main-container__hebergements__article {
  background-color: white;
  border-radius: 1vw;
  width: 30%;
  height: 35%;
  padding-top: 1%;
  padding-left: 1%;
}
.main-container__hebergements__article__link{
  text-decoration: none;

}
.main-container__hebergements__article__link__text {
  margin-top: -0.3vw;
  color: black;
}
.main-container__hebergements__article__link__img {
  object-fit: cover;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  width: 96%;
  height: 10vw;
}
.main-container__hebergements__article__link__subtitle{
  color: black;
}
.main-container__hebergements__link__info{
  margin-top: 2%;
  margin-right: 80%;
  text-decoration: none;
 }
.main-container__hebergements__article__link__icon{
  color: #0065fc;
}
.fas.fa-star.grey{
  color: grey;
}
.main-container__populaires{
  background-color: #f2f2f2;
  width: 30%;
  height: 50vw;
  border-radius: 3vw;
}
.main-container__populaires__title__icon{
  display: flex;
  justify-content: space-around;
}
.main-container__populaires__article__link{
  display: block;
 margin-top: 15%;
 background-color: white;
 border-radius: 1vw;
 width: 85%;
 margin-left: 10%;
 height: 10vw;
 text-decoration: none;
}
.main-container__populaires__article__link__img{
  float: left;
  object-fit: cover;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  width: 40%;
  height: 9vw;
  padding-top: 2%;
  padding-left: 2%;
  margin-right: 3%;
}
.main-container__populaires__article__link__subtitle{
 text-decoration: transparent;
 color: black;
width: auto;
padding-top: 5%;

}
.main-container__populaires__article__link__text{
  text-decoration: none;
  color: black;
}
.main-container__populaires__article__link__icon{
  color: #0065fc;
}
.main-container__activites{
  margin-top: 5%;
}
.main-container__activites__title{
  margin-left: 3%;
}
.main-container__activites__frame{
  display: flex;
  justify-content: space-around;
  margin-left: 3%;
}
.main-container__activites__frame__litleframe{
  background-color: white;
  border-radius: 1vw;
  width: 70%;
  height: 15vw;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #f2f2f2;
  margin-left: 20%;
  margin-bottom: 20%;
}
.main-container__activites__frame__bigframe{
  background-color: white;
  border-radius: 1vw;
  width: 50%;
  height: 35vw;
  box-shadow: 0.2vw 0.2vw 0.2vw 0.1vw #f2f2f2;
}
.main-container__activites__frame__bigframe__link__img{
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
  width: 100%;
  height: 30vw;
}
.main-container__activites__pictures__frame__bigframe__link__title {
  margin-left: 2vw;
  margin-top: 0.5vw;
}
.main-container__activites__frame__litleframe__link__litleimg{
  border-top-right-radius: 1vw;
  border-top-left-radius: 1vw;
  width: 100%;
  height: 10vw;
}
.main-container__activites__pictures__frame__litleframe__link__title {
  margin-left: 1vw;
}
.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  background-color: #f2f2f2;
}
.footer-list__info__title{
  font-size: 1.5rem;
  margin-left: 15%;
  list-style-type: none;
}
.footer-list__info__list{
  font-size: 1.2rem;
  list-style-type: none;
}
.footer-list__hebergements{
  width: 20%;
}
.footer-list__hebergements__title{
  font-size: 1.4rem;
  list-style-type: none;
  margin-left: 10%;
}
.footer-list__hebergements__list{
  font-size: 1.2rem;
  list-style-type: none;
}
.footer-list__help{
  width: 20%;
}
.footer-list__help__title{
  font-size: 1.5rem;
  margin-left: 10%;
  list-style-type: none;
}
.footer-list__help__list{
  font-size: 1.2rem;
  list-style-type: none;
}
@media screen and ( max-width:1280px) {
.main-container{
  flex-direction: column-reverse;
}
.main-container__populaires{
  width: 100%;
  height: 96vw;
}
.main-container__populaires__article__link{
  width: 70%;
  height: 15vw;
 border-radius: 3vw;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content:flex-start;
}
.main-container__populaires__article__link__img{
  width: 50%;
  height: 12vw;
  border-top-left-radius: 3vw;
  border-bottom-left-radius: 3vw;
}
.main-container__hebergements{
  background-color: white;
  width: 100%;
  height: 90%;
}
}




