@font-face{
    font-family: 'ralewayblack';
    src: url(Raleway-Black.ttf);
}
/*marge du site*/
body{
    margin: 2%;
}
.imageflottante{
    float: left;
}

/*entete de recherche haut droit*/

#entete{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end ;  
}
.nav1{
   
   color:#0065fc;
    margin: 1%;
}
/*header*/
h2{
    clear: both;
}
.flexcentre{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.bordureSearch{
    width:400px;
    border-radius: 10px;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize{
    height: 50px;
    width: 50px;
    color:black ;
    background-color:#f2f2f2;
  
}
.taille{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40px;
    display: flex;
    border-radius:10px 0  0 10px;
    }
.barerecherche{
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
    padding: 20px;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 100%;
}
.boutonSearch{
    background-color:#0065fc;
    color: white;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    border: 0.5px solid #f2f2f2;
    cursor: pointer;
}
/*filtre*/
.conteneur{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space space-between;
    align-items: flex-start;

}
.logofiltre{
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
 color: #0065fc;
 background-color: #DEEBFF ;
border-radius:100%;
border: 5% #f2f2f2;
padding: 0.5%;
align-items: center;
justify-content: center;

}
.boutonfiltre{
    background-color: white; 
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border: 3px solid #f2f2f2;
}