/* reset.css / normalize.css */

body {
  margin: auto;
  font-size: 16px; 
}
.header-top-nav{
  display: flex;
}
.header-top-nav__logo{
  width:10%;
  height: 10%;
  justify-content: flex-start;
}
.header-top-nav__links{
  font-size: 0.3rem;
  justify-content: space-between;
}
.header-top-nav__links__link--highlight{
  justify-content: flex-end;
}

.header-top-nav__links__link{
  justify-content: flex-end;
color: black;
}


.header-title {
  font-size:0.3rem;
}
.header-subtitle{
  font-size: 0.2rem;
  font-weight: 100;
}
.header-search{
  font-size: 0.5rem;
  display: flex;
  border-radius: 5%;
  margin-left: 1%;
}
.header_search__button__icon {
  display: none;
}

.header-search__icon {
  font-size: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 1%;
  width: 3%;
  height: 3vw;
  background-color:#f2f2f2;
  border-radius: 10% 0% 0% 10%;
}
.header_search__input{
  font-size: 0.2rem;
  width: 10%;
  height: 3vw;
  border: 0.2vw solid #f2f2f2;
  border-right: none;
}
.header_search__button{
  font-size: 0.2rem;
  background-color: #0065fc;
  color: white;
  border-radius: 0% 10% 10% 0%;
  border: none;
  width: auto;
  height: 3vw;
}
