.footer-list{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 10rem;
    background-color: var(--background-color);
}

.footer-list__title{
    font-size: 1.5rem;
    font-weight: 900;
    padding-top:var(--spacing-xs) ;
    padding-bottom: var(--spacing-xs);
}



li{
    padding-bottom: var(--spacing-xs);
}