header {
  margin: 0 var(--spacing-base) var(--spacing-base) var(--spacing-base);
}

.header-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-xs);
}

.header-top-nav__links {
  display: flex;
  font-size: 1rem;
}

.header-top-nav__links__link {
  color: var(--black-color);
  text-decoration: none;
  padding: var(--spacing-base);
  border-top: 1px solid transparent;
}

/*
.header-top-nav__links :first-child {
  border-top: 1px solid var(--primary-color);
  color: var(--primary-color);
}
*/

.header-top-nav__links__link:hover {
  border-top: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.header-top-nav__links__link--highlight {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
}

.header-top-nav__links__link--highlight:hover {
  border-top: 1px solid transparent;
}

.header-title {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: bold;
}

.header-subtitle {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
}

:root {
  --icon-size: 4rem;
  --border-radius-left: 1rem 0rem 0rem 1rem;
  --border-radius-right: 0rem 1rem 1rem 0rem;
}

.header-search {
  margin: var(--spacing-base) 0;
  display: flex;
}

.header-search__icon {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--background-color);
  border-radius: var(--border-radius-left);
}

.header_search__input {
  font-size: 1.2rem;
  font-weight: 600;
  width: 20rem;
  border: 1px solid var(--background-color);
  padding-left: var(--spacing-xs);
  /* outline: 0; */
}

.header_search__input::placeholder {
  color: var(--black-color);
}

.header_search__button {
  width: 8%;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius-right);
  border: none;
  cursor: pointer;
}

.header_search__button__icon {
  display: none;
}

:root {
  --filter-size: 3rem;
  --border-size: 2px;
}

.header-filters {
  display: flex;
  align-items: center;
  margin: var(--spacing-base) 0;
  font-weight: 900;
  width: 100%;
}

.header-filters__filter:hover {
  color: var(--primary-color);
}

.header-filters__title {
  font-size: 1.5rem;
 
}

.header-filters__filter {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 var(--spacing-base);
}

.header-filters__filter__icon {
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--filter-size) + var(--border-size));
  height: calc(var(--filter-size) + var(--border-size));
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50%;
}

.header-filters__filter__text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-size) solid rgb(230, 227, 227);
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-left: none;
  height: var(--filter-size);
  padding: 0 var(--spacing-xs) 0 var(--spacing-base);
}

:root {
  --info-size: 2rem;
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  border: 1px solid  rgb(230, 227, 227);
  border-radius: 50%;
  width: var(--info-size);
  height: var(--info-size);
  margin-right: calc(var(--spacing-xs) * 0.5);
}
