.hebergements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
 
  .main-hebergements {
    display: flex;
    flex-direction: column;
    width:75%;
    height: 40rem;
    background-color: red; /*var(--background-color);*/
    border-radius: 20px 20px 20px 20px;
  }
  .main-hebergements__title {
    padding: var(--spacing-base);
    font-size: 1.5rem;
  }
  :root{
      --border-radius:1rem ;
      --padding: 1rem 1rem 1rem 1rem;
  }
  
  .main-hebergements__card {
    display: grid;
    grid-gap: var(--spacing-base);
    grid-template-columns:repeat(3, 3fr);
   
    
  }
  .main-hebergements__card__link {
      width: auto;
      height: 100%;
    border-radius:1rem;
    background-color: var(--white-color);
    padding-top: 5px;
    padding-left: 5px;
    padding-right:5px;
    padding-bottom:5px;
    margin-right:var(--spacing-base);
    margin-left:var(--spacing-base);
    text-decoration: none;
    color: black;
  }
  .main-hebergements__card__link__title{
      font-size: 1.5rem;
      margin-top:5px;
  }
  .main-hebergements__card__link__text{
      margin-top:5px;
      font-size: 1.2;
  }
  .main-hebergements__card__link__image {
    object-fit: cover;
    border-top-left-radius:1rem;
    border-top-right-radius: 1rem ;
    width:100%;
    height: 8rem; 
  }
  .main-hebergements__card__link__stars {
    margin-top:5px;
    color: #0065fc;
  }
  .fas.fa-star.grey {
    color: grey;
  }
 
  .main-hebergements__link__info {
    margin-top:var(--spacing-md);
    margin-left:var(--spacing-base);
    text-decoration: none;
  }
  :root{
    --border-radius: 5px 5px 5px 5px;
    }
  .main-populaires {
    background-color:var(--background-color);
    width: 25%;
   
    border-radius:var(--border-radius);
  }
  .main-populaires__title__icon {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--spacing-base);
  }
  .main-populaires__card__link {
    display: block;
    justify-content: space-around;
    background-color:var( --white-color);
    border-radius: var(--border-radius);
    width: 85%;
    height: 10vw;
    text-decoration: none;
    margin: auto;
  }
  .main-populaires__card__link__image {
    float: left;
    object-fit: cover;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    width: 40%;
    height: 9vw;
    padding-top: 2%;
    padding-left: 2%;
    margin-right: 3%;
  }
  
  .main-populaires__card__link__title {
    text-decoration: transparent;
    color: black;
    width: auto;
    font-size: 2rem;
    font-weight: 100;
  }
  .main-populaires__card__link__text {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  .main-populaires__card__link__stars {
    color: #0065fc;
  }





  .main-activites {
      display: flex;
    margin-top: 50%;
  }

  .main-activites__card {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
  }
  .main-activites__card__link__image--big {
   
  }
  .main-activites__card__link__image--litle {
 
  }
  .main-activites__card__link__image--big {
   
  }
  .main-activites__pictures__card__link__title {
 
  }
  .main-activites__card__link__image--litle {
   
  }
  