.hebergements {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
 
  .main-hebergements {
    display: flex;
    flex-direction: column;
    width:70%;
    background-color: red; /*var(--background-color);*/
    border-radius: 20px 20px 20px 20px;
    margin-left:var(--spacing-base);
    margin-right: var(--spacing-base);
  }
  .main-hebergements__title {
    padding: var(--spacing-base);
    font-size: 1.5rem;
  }
  :root{
      --border-radius: 5px 5px 5px 5px;
  }
  
  .main-hebergements__card {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: var( --spacing-base);
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    padding-left: var(--spacing-base);
    padding-right:var(--spacing-base) ;
  }
  .main-hebergements__card__link {
    text-decoration: none;
  }
  
  :root {
      --border-top-radius-left: 1rem;
      --border-top-radius-right: 1rem;
    } 
  .main-hebergements__card__link__image {
    object-fit: cover;
    border-radius:var(--border-top-radius-left --border-top-radius-right) ;
    border-radius: var(--border-radius);
    width:100%;
    height: 20%;
  }
 
  .main-hebergements__card__link__title {
    color: black;
  }
  .main-hebergements__card__link__text {
    color: black;
  }
  
  .main-hebergements__card__link__stars {
    color: #0065fc;
  }
  .fas.fa-star.grey {
    color: grey;
  }
   
  .main-hebergements__link__info {
    margin-top: 2%;
    margin-right: 80%;
    text-decoration: none;
  }

  .main-populaires {
    background-color: #f2f2f2;
    width: 30%;
    height: 50vw;
    border-radius: 3vw;
  }
  .main-populaires__title__icon {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding-bottom: var(--spacing-base);
  }
  .main-populaires__card__link {
    display: block;
    justify-content: space-around;
    background-color: white;
    border-radius: 1vw;
    width: 85%;
    margin-left: 10%;
    height: 10vw;
    text-decoration: none;
  }
  .main-populaires__card__link__image {
    float: left;
    object-fit: cover;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    width: 40%;
    height: 9vw;
    padding-top: 2%;
    padding-left: 2%;
    margin-right: 3%;
  }
  
  .main-populaires__card__link__title {
    text-decoration: transparent;
    color: black;
    width: auto;
    font-size: 2rem;
    font-weight: 100;
  }
  .main-populaires__card__link__text {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  .main-populaires__card__link__stars {
    color: #0065fc;
  }





  .main-activites {
      display: flex;
    margin-top: 5%;
  }

  .main-activites__card {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: repeat(2,1fr);
  }
  .main-activites__card__link__image--big {
   
  }
  .main-activites__card__link__image--litle {
 
  }
  .main-activites__card__link__image--big {
   
  }
  .main-activites__pictures__card__link__title {
 
  }
  .main-activites__card__link__image--litle {
   
  }
  